body {
    background: #cce6ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #004d00;
    padding-bottom: 10px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #99ccff;
    padding-top: 10px;
}

.sidenav a, .dropdown-btn {
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    font-size: 20px;
    color: #238323;
    display: block;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
}
.dropdown-btn{
    width: 100%;
} 
.sidenav a:hover, .dropdown-btn:hover {
    color: rgb(1, 87, 1);
    background: #cce6ff;
    letter-spacing: 1px;
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}
  
.active {
    background-color: #66ccff;
    color: #003300;
}
  
.dropdown-container {
    display: none;
    background-color: #b3e6ff;
    padding-left: 8px;
}

h1{
    color: #005800;
    font-size: 40px;
    text-shadow: 3px 3px #003300;
}